.env
*.class
bin
.classpath
.project
*.bkp
*.bak
*.mwb
.dockerignore

/nbproject/
/build/
/dist/
nbactions.xml
nb-configuration.xml

target/
*.jar
*.war
*.ear
thumds.db
.DS_Store
.factorypath
.project
.settings/